/* Base CSS */
.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0 solid
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 700;
}

html, body {
  height: 100%
}

body {
}

a:hover {
  text-decoration: none
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.main-menu {
  background: #002333;
  font-family: Comic Sans MS;
}

.navbar-default {
  background-color: #002333;
  border-color: #002333;
}

.navbar {
  border-radius: none;
}

.navbar-nav > li > a {
  padding-bottom: 10px;
  padding-top: 10px;
}

.fa-calculator::before {
  font-size: 40px;
  padding: 0 10px 0 0;
  color: #03A9F4;
}

.sitename {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #80d7ff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
}

.navbar-nav > li {
  border: 1px solid;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.main-content {
  padding: 30px 0;
}

.footer-top {
  font-size: 45px;
}

.footer {
  background: #002333;
}

.footer-bottom {
  color: white;
}

.fa-facebook-square::before {
  color: #7593d2;
}

.fb:hover {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 2s linear infinite;
}

.fa-youtube-square::before {
  color: red;
}

.yt:hover {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 2s linear infinite;
}

.fa-phone-square::before {
  color: #e34a46;
}

.ph:hover {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }

}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }

}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

.about-top img {
  border: 5px solid;
  border-radius: 0 25px;
  margin-bottom: 10px;
  height: 200px;
  width: 55%;
}

.about-top.text-center > h2 {
  border-bottom: 2px solid;
  border-radius: 10%;
  font-family: Comic Sans MS;
  padding-bottom: 10px;
}

.detail {
  background: #0272a6 none repeat scroll 0 0;
  border-radius: 8px;
  line-height: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px 0;
  color: white;
}

.about-add-botton {
  background: #0272a6 none repeat scroll 0 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
}

.about-add-botton:hover {
  transition: 1s;
  background: #fff none repeat scroll 0 0;
  color: #03A9F4;
}

.about-add-botton > h3 {
  padding-bottom: 8px;
  padding-top: 8px;
  cursor: pointer;
}

.input-fields h2 {
  border-bottom: 2px solid;
  border-radius: 10%;
  margin-bottom: 20px;
  font-family: Comic Sans MS;
  padding-bottom: 5px;
  text-align: center;
  padding-bottom: 10px;
}

.form-horizontal .control-label {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 0;
  text-align: left;
}

.main-form-field {
  background: #014666 none repeat scroll 0 0;
  color: #03a9f4;
  margin: 0 auto;
  opacity: 0.8;
  padding: 5% 10%;
  width: 90%;
  box-shadow: #332b33 5px 5px 10px;
}

select {
  background: #000 none repeat scroll 0 0;
  width: 100%;
  color: #03a9f4;
  border-radius: 2%;
}

.main-content {
  margin-bottom: 100px;
}

.model_label{
    color: #000 !important;
}