.right-sidebar table tr td a {
    color: #fff;
}

.right-sidebar table tr td a:hover {
    color: #000;
}

.right-sidebar table tr td {
    width: 100%;
    padding: 5px 14px;
    border: 2px solid #fff;
    border-radius: 5%;
}

ol.depertment-list a li {
    color: #000;
    margin-bottom: 8px;
}

ol.depertment-list li {
    padding: 2px 9px;
    border: 1px solid;
    margin: 5px;
}

ol.depertment-list li:hover {
    color: #000000;
    background: #ffffff;
}

}

.right-sidebar table tr:hover {
background: #00cff2;
transition: .5s;
}

.btn {
font-size: 12px;
line-height: .95;
}

.mybtn {
font-size: 18px;
line-height: 1.25;
}

.right {
float: right;
}
